<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      th:href="@{/css/style.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/login.css}"
    />
		<title>Regístrate</title>
	</head>
  <div class="container">
    <div class="logo">
      <img
          id="logo-login"
          th:src="@{/svg/confesiones.svg}"
          alt="Logo de Confesiones 851"
        />
      <p id="bajada">Regístrate para mandar tu confesión 🥵</p>
      <div th:if="${errors}" th:each="error: ${errors}">
        <div class="error-message" th:text="${error.field} + ' ' + ${error.getDefaultMessage()}" />
      </div>
    </div>
    <form class="formulario" id="login-form" th:action="@{/register-save}" th:object="${user}" method="post">
      <div id="mail-input" class="grupo-input">
        <label for="email">Email</label>
        <input id="email" th:field="*{email}" type="email" required>
      </div>
      <div id="username-input" class="grupo-input">
        <label for="username">Nombre de usuario</label>
        <input id="username" th:field="*{userName}" type="text" minlength="4" required />
      </div>
      <div id="contrasenna-input" class="grupo-input">
        <label for="contrasenna">Contraseña</label>
        <input id="contrasenna" th:field="*{password}" type="password" required />
      </div>
      <div class="botones">
        <button type="submit" id="envio">Registrarse</button>
      </div>
    </form>
    <div class="footer-form">
      Ya tienes una cuenta? <a th:href="@{/login}">Ingresa</a>
    </div>
  </div>